#search_form {
    margin-left:50px;
    background-color:#88D1E8;
    width:40%;
    padding:20px;
    }

.container-color {
    background-color: white;
    min-height: 800px;
    padding: 0 40px 20px 40px;
}

body {
    background-color: #F5F5F5;
}

#result {
    margin-top:50px;
}

body {
    background-color: #F5F5F5;
}
